body {
	color: #212121;
	font-family: Roboto;
}

ul {
	list-style-type: none;
}

/* хедер */
.logo {
	text-decoration: none;
	color: #000000;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 31px;
}

.logo-color {
	color: #2196f3;
}
.nav-link {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #212121;
}

.header-contacts {
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.02em;
	color: #757575;
}

/* основна частина */

.title {
	font-size: 44px;
	line-height: 60px;
	font-weight: 900;
	color: #ffffff;
}
/* кнопка */
.order-button {
	text-decoration: none;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	color: #ffffff;
	/* background: #2196f3; */
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.order-button:hover,
.order-button:focus {
	color: #2196f3;
}
.nav-link:hover,
.nav-link:focus,
.header-contacts:hover,
.header-contacts:focus {
	color: #2196f3;
}

/* переваги */

.benefits-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.benefits-text {
	color: #757575;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}

/* Чим ми займаємося */

.directions-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.03em;
}

/* Наша команда */
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.03em;
}

.team-position {
	color: #757575;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.03em;
}

/* футер */
.footer-address {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: #ffffff;
	text-decoration: none;
}
.footer-contacts {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.footer-contacts:focus,
.footer-contacts:hover,
.footer-address:hover,
.footer-address:focus {
	color: #2196f3;
}

/* Сторінка портфоліо */
/* фільтр */

.filter-button {
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}

.filter-button:hover,
.filter-button:focus {
	color: #ffffff;
}

.project {
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0.06em;
	color: #212121;
}

.project-type {
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.03em;
	color: #757575;
}
